/*====================
=======Structure======
======================*/

body{
    background-color: hsl(226 63% 45%);
    display:flex; 
    flex-direction:column;    
    margin: 1em auto;
    min-height: 100vh;
    width: 90%;
}

header{
    display: flex;
    height: 10vh;
    justify-content: start;
}

main{
    margin: 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

.main-element{ 
    margin-bottom: 2em;
}

.footer-element{
    margin-bottom: 1em;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p {
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button, label{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

.menuicon {
   margin-top: auto;
   width: 5%   
}
header{
    display: flex;
    height: 10vh;
    justify-content: space-between
}

.header-element {
    display: flex;
    justify-content: flex-start;
}
    
/*====================
========Logo=========
======================*/

.logo{
    width: max-content;
}

.logo__image svg{
    height: 3em;
    width: 3em;
}

.logo__image svg path{
    fill:hsl(19, 100%, 50%);
}

.logo__title{
    margin-left: 1em;
}

.logo__title h1{
    text-align: left;
}


/*====================
========Subtitle======
======================*/

.subtitle{
    background-color: hsl(207, 85%, 69%);
    padding: 0.2em 0;
    width: 100%;
}

.subtitle h2{
    text-align: center;
}


/*====================
=========CRUD=========
======================*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

.crud{
    display: flex;
    justify-content: space-between;
    max-width: 45%;
}

.crud__table, .crud__form{
    min-width: 45%;
    max-width: 45%;
}

.crud__form element{
    min-width: 45%;
    max-width: 45%;
    font-size: 2em;
    color:rgb(255, 255, 255);
}

.crud__form-four-columns{
    display:flex;
    justify-content: space-between;    
    padding-bottom: 2em;    
}

.crud__form-three-columns{
    display:flex;
    justify-content: space-between;        
    padding-bottom: 2em;
}

.crud__form-two-columns{
    display:flex;
    justify-content: space-between;
    padding-bottom: 2em;    
}



.crud__form-label{  
    font-family: Arial; 
    font-size: 0.9em;
    color:rgb(195, 233, 255) 
}

.crud__form-one-column{
    display:flex;        
    padding-bottom: 2em;    
}
.footer-element{
    width: 100%;
}

.footer-element p{
    text-align: center;
}

.footer-element p:hover{
    color: rgb(165, 96, 255)
}

@media (max-width:479px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (max-width:1024px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-label label{
        font-size: 2em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .footer-element p{
        font-size: 1.5em;
    }
}



