/**
{outline: 1px red solid;}
*/

.crud__form{
    min-width: 50%;
    max-width: 50%;
}

.crud__form-element{
    margin: 2em 0;
}
.crud__form-element label{    
    font-size: 2vh;
    color: $white;
}

.crud__form-input input{
    height: auto;
    width: 15em;
    font-size: 2vh;
    background-color: $grey-darker;
    border-radius: 0.3vh;
    border:none;
    margin-top: 0.5vh;
}
#errors{
    display: none;
}

#errors.active{
    display: block;
    background-color: $color-secondary;
    font-family: $font-stack-condensed;
    background-color: $color-complementary;
    color: $red;
    position: relative;
}

#iconx{
    width: 2vh;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.crud__form-input input.error{
    border: 1px solid $red;
}

.crud__form-input .ck-editor__editable{
	height: 20vh;
}

.crud__form-input .ck-editor__editable p{
	color: $black;
}

.button-send-form input{
    height: 3.5vh;
    width: 12vh;
    font-size: 2vh;
    font-family: $font-stack;
    background-color: $grey;
    color: $color-primary-darkest;
    border-radius: 2vh;
}

#role{
    height: 2vh;
    width: auto;
    font-size: 1vh;
    font-family: $font-stack;
    background-color: $grey-darker;
    color: $black;
    border-radius: 0.5vh;
}

